<!-- Hero image, title, text, cta centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 0 0;" bgcolor="#ffffff" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="padding: 0 0 16px 0;" align="center">
                        <a href="https://youpic.com/image/7431450/" target="_blank">
                          <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 600px;" class="img-max" src="https://df0179xsabjj8.cloudfront.net/large/592231_n1jkfe8c5l6k4kiessp7lkdc3a_726065.jpg" width="600" alt="Outline Mail" border="0">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 16px 8px 16px; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 28px; font-weight: bold; line-height: 32px;">
                        Welcome to YouPic, here is some useful info
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 16px 0 16px; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Welcome to the YouPic community. Your journey to better photography starts here!
                        Few Best Practice tips to get you going:
                        <!-- Two up title text -->
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td style="padding: 16px 0 0 0;" bgcolor="#ffffff" align="center">
                              <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                                <tr>
                                  <td style="padding: 0" align="center" valign="top">
                                    <!-- Two column -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td>
                                          <!-- content left -->
                                          <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="left">
                                            <tr>
                                              <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td style="padding: 8px 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;" align="left">
                                                      Daily Inspirational Photos
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; padding: 0 0 32px 0;" align="left">
                                                      Millions of new inspirational photos everyday to keep your creativity going.
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                          <!-- /content left -->
                                          <!-- content right -->
                                          <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="right">
                                            <tr>
                                              <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td style="padding: 8px 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;" align="left">
                                                      Unlimited Everything
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; padding: 0 0 32px 0;" align="left">
                                                      Give photos detailed feedback and nominations to vote them up.
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                          <!-- /content right -->
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- /Two column -->
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td bgcolor="#ffffff" align="center">
                              <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                                <tr>
                                  <td style="padding: 0" align="center" valign="top">
                                    <!-- Two column -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <tr>
                                        <td>
                                          <!-- content left -->
                                          <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="left">
                                            <tr>
                                              <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td style="padding: 8px 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;" align="left">
                                                      You are the judge
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; padding: 0 0 32px 0;" align="left">
                                                      Upload frequently to get the most out of YouPic. Absolutely no limits on uploads. Safe and secure.
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                          <!-- /content left -->
                                          <!-- content right -->
                                          <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="48%" align="right">
                                            <tr>
                                              <td>
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td style="padding: 8px 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 20px; font-weight: normal; line-height: 30px;" align="left">
                                                      Shine in the spotlight
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px; padding: 0 0 32px 0;" align="left">
                                                      Tremendous exposure for your photos from millions of photography enthusiast around the world.
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                          <!-- /content right -->
                                        </td>
                                      </tr>
                                    </table>
                                    <!-- /Two column -->
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /Two up title text -->
                        <!-- Button -->
                        <table border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td align="left">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="center">
                                    <a style="background-color: #1388c9; border-top: 8px solid #1388c9; border-right: 16px solid #1388c9; border-bottom: 8px solid #1388c9; border-left: 16px solid #1388c9; display: inline-block; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-decoration: none;" href="http://youpic.com" target="_blank">Get started</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /Button -->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Hero image, title, text, cta centre -->
