<!-- Hero image, title, text, cta centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;" bgcolor="#ffffff" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td align="center" valign="top"  bgcolor="#ffffff" style="border: solid 1px #e6e6e6; padding: 32px 32px 0px 32px;">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center" style="padding: 0 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 28px; line-height: 42px;">
                        %GREETING%
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding: 32px 0 32px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 32px;">
                        I want to invite you to join YouPic. It is the place to find photography inspiration, learn photography and get exposure on your work. I think you will enjoy it.
                      </td>
                    </tr>
                  </table>
                  <!-- List image title author -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="padding: 32px 0 32px 0;" bgcolor="#ffffff" align="center">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                          <tr>
                            <td align="center">
                              <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
                                <tr>
                                  <td style="padding: 0 16px 0 16px;" align="center" valign="top">
                                    <!-- content -->
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                      <!-- list item 1 -->
                                      <tr>
                                        <td style="padding: 0 0 24px 0;">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                              <td align="left" valign="top">
                                                <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/DavidHurn/"><img style="display: block; border-radius: 45px; width: 90px; height: 90px;" src="https://df0179xsabjj8.cloudfront.net/small/540504_O5kYbZHLGvx3kk0g_298835.jpg" width="90" height="90" border="0"></a>
                                              </td>
                                              <td align="left" style="padding-left: 20px;width:100%;" valign="center">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 30px;">
                                                      <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/DavidHurn/">David Hurn</a>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" style="color: #8f8f8f; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 21px;" colspan="2">
                                                      Britain’s most influential reportage photographers
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      <!-- list item 2 -->
                                      <tr>
                                        <td style="padding: 24px 0 24px 0;">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                              <td align="left" valign="top">
                                                <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/AdamHinton/"><img style="display: block; border-radius: 45px; width: 90px; height: 90px;" src="https://df0179xsabjj8.cloudfront.net/small/520127_O3U0TgJ9MFKeGR2X_796288.jpg" width="90" height="90" border="0"></a>
                                              </td>
                                              <td align="left" style="padding-left: 20px;width:100%;" valign="center">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 30px;">
                                                      <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/AdamHinton/">Adam Hinton</a>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" style="color: #8f8f8f; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 21px;" colspan="2">
                                                      Winner of over 50 international photography awards
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      <!-- list item 3 -->
                                      <tr>
                                        <td style="padding: 24px 0 24px 0;">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                              <td align="left" valign="top">
                                                <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/davidyarrow/"><img style="display: block; border-radius: 45px; width: 90px; height: 90px;" src="https://df0179xsabjj8.cloudfront.net/small/471166_OxUbSdFJwlitqq88_334683.jpg" width="90" height="90" border="0"></a>
                                              </td>
                                              <td align="left" style="padding-left: 20px;width:100%;" valign="center">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 30px;">
                                                      <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/davidyarrow/">David Yarrow</a>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" style="color: #8f8f8f; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 21px;" colspan="2">
                                                      UK’s best selling fine-art photographer
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      <!-- list item 4 -->
                                      <tr>
                                        <td style="padding: 24px 0 24px 0;">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                              <td align="left" valign="top">
                                                <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/JuliaFullertonBatten/"><img style="display: block; border-radius: 45px; width: 90px; height: 90px;" src="https://df0179xsabjj8.cloudfront.net/small/423100_OwDQoTAdQ2RK4rb4_968556.jpg" width="90" height="90" border="0"></a>
                                              </td>
                                              <td align="left" style="padding-left: 20px;width:100%;" valign="center">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 30px;">
                                                      <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/JuliaFullertonBatten/">Julia Fullerton-Batten</a>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" style="color: #8f8f8f; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 21px;" colspan="2">
                                                      World-wide acclaimed and exhibited Fine Art photographer
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      <!-- list item 5 -->
                                      <tr>
                                        <td style="padding: 24px 0 24px 0;">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                              <td align="left" valign="top">
                                                <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/PhilipLeeHarvey/"><img style="display: block; border-radius: 45px; width: 90px; height: 90px;" src="https://df0179xsabjj8.cloudfront.net/small/373139_OuEgTjCnhkbUuX2D_683518.jpg" width="90" height="90" border="0"></a>
                                              </td>
                                              <td align="left" style="padding-left: 20px;width:100%;" valign="center">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 30px;">
                                                      <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/PhilipLeeHarvey/">Philip Lee Harvey</a>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" style="color: #8f8f8f; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 21px;" colspan="2">
                                                      UK’s leading advertising photographers
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                      <!-- list item 6 -->
                                      <tr>
                                        <td style="padding: 24px 0 24px 0;">
                                          <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                            <tr>
                                              <td align="left" valign="top">
                                                <a style="text-decoration: none;" target="_blank" href="https://youpic.com/photographer/MatthewMaran/"><img style="display: block; border-radius: 45px; width: 90px; height: 90px;" src="https://df0179xsabjj8.cloudfront.net/small/270182_OhQthFFwd8RyrPwO_975121.jpg" width="90" height="90" border="0"></a>
                                              </td>
                                              <td align="left" style="padding-left: 20px;width:100%;" valign="center">
                                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                  <tr>
                                                    <td align="left" style="color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 30px;">
                                                      <a style="text-decoration: none;color: #333333;" target="_blank" href="https://youpic.com/photographer/MatthewMaran/">Matthew Maran</a>
                                                    </td>
                                                  </tr>
                                                  <tr>
                                                    <td align="left" style="color: #8f8f8f; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 21px;" colspan="2">
                                                      London based currently focusing on the wildlife and landscapes
                                                    </td>
                                                  </tr>
                                                </table>
                                              </td>
                                            </tr>
                                          </table>
                                        </td>
                                      </tr>
                                    </table>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!-- Button -->
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td align="center" style="padding: 0 0 48px 0;">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="center">
                                    <a class="mobile-button" style="border-radius:5px;background-color: #1388c9; border-top: 16px solid #1388c9; border-right: 32px solid #1388c9; border-bottom: 16px solid #1388c9; border-left: 32px solid #1388c9; display: inline-block; color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-decoration: none;" href="http://youpic.com" target="_blank">Try it now</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /Button -->
                      </td>
                    </tr>
                  </table>
                  <!-- /List image title author -->
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Hero image, title, text, cta centre -->
