<!-- Hero image, title, text, cta centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table style="background-color: #ffffff; padding: 20px; border-radius: 5px;text-align: center; border: 0px; border-spacing: 0px;" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="padding: 0 0 16px 0;" align="center">
                        <a href="https://youpic.com/image/7431450/" target="_blank">
                          <img style="display: block; font-family: Helvetica, Arial, sans-serif; color: #333333; font-size: 14px; width: 600px;" class="img-max" src="https://df0179xsabjj8.cloudfront.net/huge/296377_O7z5zlI8rTjbY5cQ_984030.png" width="600" alt="Outline Mail" border="0">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding: 0 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 28px; font-weight: bold; line-height: 32px;">
                        A look inside your new profile
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        We have made some improvments we think you will like, have a look and let us know what you think.
                        Love, YouPic Team
                      </td>
                    </tr>
                    <tr>
                      <td align="center">
                        <a style="background-color: #1388c9;border-radius: 10px; color: #ffffff;display: inline-block;font-family: Open Sans,Helvetica,Arial,sans-serif;font-size: 20px;line-height: 54px;text-align: center;text-decoration: none; width: 100%; max-width: 300px;" href="http://youpic.com" target="_blank">Check it out now</a>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Hero image, title, text, cta centre -->
