<!-- List image title author -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td align="left" valign="top" style="padding: 32px 32px 0px 32px;">
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Hey,
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        This picture really took me by storm!
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0;">
                        <a href="https://youpic.com/image/%IMAGEID%/" target="_blank">
                          <img style="display: block; width: 600px;" class="img-max" src="https://df0179xsabjj8.cloudfront.net/large/%IMAGEURL%" width="600" border="0">
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        It is awesome!
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        I really like your work. If you are interested in premium here is a %DISCOUNT%% discount code just for you.
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Feel free to use it if you like, but more importantly, we are proud to have you on our site.
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Ps. The discount ends in two days from now.
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Have a look here: www.youpic.com/premium
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 32px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Yours,</br>
                        Navid
                      </td>
                    </tr>
                  </table>
                  <table id="sig" cellspacing='0' cellpadding='0' border-spacing='0'>
                    <tr>
                      <td style="margin:0;padding:0;">
                        <table id="sig2" cellspacing='0' cellpadding='0' border-spacing='0' style="padding:0;margin:0;font-family: Arial, 'Source Sans Pro', Helvetica, sans-serif;;font-size:12px;line-height:12px;color:#b0b0b0;border-collapse:collapse;-webkit-text-size-adjust:none;">
                          <tr style="margin:0;padding:0;">
                            <td style="margin:0;padding:0;font-family: Arial, 'Source Sans Pro', Helvetica, sans-serif;;white-space:nowrap;">
                              <span style="color:#333; display:block; padding:2px 0;"><strong style="font-size:14px;">Navid Razazi</strong> CEO & Founder</span>
                              <span style="color:#333; display:block; padding:2px 0;">Direct: +46 704 104 707</span>
                              <span style="color:#333; display:block; padding:2px 0;">E-mail: <a href="mailto:ceo@youpic.com" style="border:none;color:#2880bb !important;">ceo@youpic.com</a></span>
                              <span style="color:#333; display:block; padding:2px 0;">Office address: Viktor Rydbergsgatan 14</span>
                              <span style="color:#333; display:block; padding:2px 0 8px 0;">SE-411 32 Göteborg, Sweden</span>
                              <a href="https://www.facebook.com/youpic/" target="_blank"><img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/facebook.png" alt="facebook" width="32" height="32"></a>
                              <a href="https://www.linkedin.com/in/navid-razazi-a89a221" target="_blank"><img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/linkedin.png" alt="linkedin" width="32" height="32"></a>
                              <a href="skype:navidrazazi?call"><img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/skype.png" alt="skype" width="32" height="32"></a>
                              <a href="https://youpic.com/photographer/navidrazazi/" target="_blank"><img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-1/p480x480/11101388_875795225790203_1941604711943427491_n.png?oh=af5617c6baaef04581a346ccbd13cfaf&oe=590A48E1" alt="YouPic" width="32" height="32"></a>
                            </td>
                          </tr>
                        </table>
                      </td>
                    <tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /List image title author -->
