<!-- Hero image, title, text, cta centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;" bgcolor="#ffffff" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 0 16px 0 16px;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="padding: 0 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 28px; line-height: 42px;">
                        Hello there,
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 32px;">
                        Your payment for the Standard plan was due on January 31, 2017. However, the charge to your credit card was unsuccessful. Your current outstanding balance is $174.01. Could you take a moment now to update your credit card on your account?
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!-- Button -->
                        <table align="left" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td align="left">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="left">
                                    <a class="mobile-button" style="border-radius:5px;background-color: #1388c9; border-top: 16px solid #1388c9; border-right: 32px solid #1388c9; border-bottom: 16px solid #1388c9; border-left: 32px solid #1388c9; display: inline-block; color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-decoration: none;" href="http://youpic.com" target="_blank">Update your credit card</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /Button -->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Hero image, title, text, cta centre -->
