<!-- List image title author -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td align="center" valign="top"  bgcolor="#ffffff" style="border: solid 1px #e6e6e6; padding: 32px 32px 0px 32px;">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="padding: 0 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 36px; font-weight: 300; line-height: 1.2;">
                        Hi there %USERTO%,
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px;">
                        Congratulations! A YouPic visitor likes your work and would like to get in touch with you to hire you for a photo session. Check your inbox here and get back to %USERFROM% within 24 hours before their interest expires.
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 32px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px;">
                        Best of luck!</br>
                        YouPic Team
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
          <!-- Button -->
          <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
              <td align="center" style="padding: 32px 0px 0px 0px">
                <table border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="center">
                      <a style="background-color: #1388c9; border-top: 16px solid #1388c9; border-right: 32px solid #1388c9; border-bottom: 16px solid #1388c9; border-left: 32px solid #1388c9; display: inline-block; color: #FFFFFF; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-decoration: none; border-radius: 5px;" href="https://youpic.com/inbox" target="_blank">Read Message</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- /Button -->
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /List image title author -->
