<!-- Hero image, title, text, cta centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 16px 0 16px 0;" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td align="center" valign="top"  bgcolor="#ffffff" style="border: solid 1px #e6e6e6; padding: 32px;">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="center">
                        <a style="text-decoration: none;" href="#">
                          <img src="https://df0179xsabjj8.cloudfront.net/small/762717_l5a9bovd0flepn9kkrsep6vo33_455769.jpg" style="display: block;border-radius:60px;" class="img-max" width="120" height="120" />
                        </a>
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding: 32px 0 0 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: bold; line-height: 32px;">
                        Kseniia Komarchuk wants to invite you to YouPic
                      </td>
                    </tr>
                    <tr>
                      <td align="center" style="padding: 32px 0 32px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; line-height: 32px;">
                        It is the place to find photography inspiration, learn photography and get exposure on your work. I think you will enjoy it.
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <!-- Button -->
                        <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%">
                          <tr>
                            <td align="center">
                              <table border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                  <td align="center">
                                    <a class="mobile-button" style="border-radius:5px;background-color: #1388c9; border-top: 16px solid #1388c9; border-right: 32px solid #1388c9; border-bottom: 16px solid #1388c9; border-left: 32px solid #1388c9; display: inline-block; color: #ffffff; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px; text-decoration: none;" href="http://youpic.com" target="_blank">Check it out</a>
                                  </td>
                                </tr>
                              </table>
                            </td>
                          </tr>
                        </table>
                        <!-- /Button -->
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Hero image, title, text, cta centre -->
