<!-- Hero image, title, text, cta centre -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;" bgcolor="#ffffff" align="center">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td align="center">
            <table class="content-table" align="center" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td style="padding: 0 16px 0 16px;" align="center" valign="top">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td align="left" style="padding: 0 0 8px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 28px; line-height: 42px;">
                        Dear YouPic Customer,
                      </td>
                    </tr>
                    <tr>
                      <td align="left" style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 18px; font-weight: normal; line-height: 24px;">
                        There was a problem with your account _________. We were unable to charge your credit card for the amount of $4,173.44 for your use of YouPic services during the month of Jan-2017. We will attempt to collect this amount again. Unless we are successful in collecting the balance of $4,173.44 in full by 02/28/2017, your YouPic Premium account may be suspended or terminated.                      </td>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /Hero image, title, text, cta centre -->
