<!-- List image title author -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td style="padding: 32px 0 32px 0;">
      <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <table class="content-table" border="0" cellpadding="0" cellspacing="0" width="600">
              <tr>
                <td align="left" valign="top" style="padding: 32px 32px 0px 32px;">
                  <!-- content -->
                  <table border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Hi,
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        I am Karina, director of partnerships at YouPic. I found your work on Instagram and thought it was exceptional. I’d like to encourage you to try YouPic as I think you would gain tremendous exposure and new clients.
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 16px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Feel free to have a look: www.youpic.com
                      </td>
                    </tr>
                    <tr>
                      <td style="padding: 0 0 32px 0; color: #333333; font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: normal; line-height: 24px;">
                        Yours,</br>
                        Karina Svensson, Director of Partnerships, YouPic
                      </td>
                    </tr>
                  </table>
                  <table id="sig" cellspacing='0' cellpadding='0' border-spacing='0'>
                    <tr>
                      <td style="margin:0;padding:0;">
                        <table id="sig2" cellspacing='0' cellpadding='0' border-spacing='0' style="padding:0;margin:0;font-family: Arial, 'Source Sans Pro', Helvetica, sans-serif;;font-size:12px;line-height:12px;color:#b0b0b0;border-collapse:collapse;-webkit-text-size-adjust:none;">
                          <tr style="margin:0;padding:0;">
                            <td style="margin:0;padding:0;font-family: Arial, 'Source Sans Pro', Helvetica, sans-serif;;white-space:nowrap;">
                              <span style="color:#333; display:block; padding:2px 0;"><strong style="font-size:14px;">Karina Svensson</strong> Director of Parnerships</span>
                              <span style="color:#333; display:block; padding:2px 0;">Direct: +46 722780878</span>
                              <span style="color:#333; display:block; padding:2px 0;">E-mail: <a href="mailto:karina@youpic.com">karina@youpic.com</a></span>
                              <span style="color:#333; display:block; padding:2px 0;">Viktor Rydbergsgatan 14</span>
                              <span style="color:#333; display:block; padding:2px 0 8px 0;">SE-411 32 Göteborg, Sweden</span>
                              <a href="https://www.facebook.com/youpic/" target="_blank"><img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/facebook.png" alt="facebook" width="32" height="32"></a>
                              <a href="https://www.linkedin.com/in/karina-svensson-026250138/" target="_blank"><img src="https://www.mail-signatures.com/articles/wp-content/uploads/2014/08/linkedin.png" alt="linkedin" width="32" height="32"></a>
                              <a href="https://youpic.com/" target="_blank"><img src="https://scontent-arn2-1.xx.fbcdn.net/v/t1.0-1/p480x480/11101388_875795225790203_1941604711943427491_n.png?oh=af5617c6baaef04581a346ccbd13cfaf&oe=590A48E1" alt="YouPic" width="32" height="32"></a>
                              <span style="color:#333; display:block; padding:8px 0 8px 0;"><a target="_blank" href="#">Unsubscribe</a></span
                            </td>
                          </tr>
                        </table>
                      </td>
                    <tr>
                  </table>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- /List image title author -->
